<%= form_for @list, html: { class: 'form' } do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-6">
    <div class="field form-group">
      <%= f.label 'Название (english)' %><br />
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-6">
    <%= f.globalize_fields_for :ru do |f_ru| %>
    <div class="field form-group">
      <%= f_ru.label 'Название (русский)' %><br />
      <%= f_ru.text_field :title, class: 'form-control' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <div class="field form-group">
      <%= f.label 'Описание (english)' %><br />
      <%= f.text_area :lead_text, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-6">
    <%= f.globalize_fields_for :ru do |f_ru| %>
    <div class="field form-group">
      <%= f_ru.label 'Описание (русский)' %><br />
      <%= f_ru.text_area :lead_text, class: 'form-control' %>
    </div>
    <% end %>
  </div>

  <div class="col-md-12">
    <div class="field form-group">
      <%= f.label 'Обложка' %><br />
      <%= f.uploadcare_uploader_field :photo %>
    </div>

    <div class="actions">
      <%= f.submit 'Сохранить', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
