<h1>Listing activity_photos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activity_photos.each do |activity_photo| %>
  <tr>
    <td><%= activity_photo.title %></td>
    <td><%= activity_photo.file %></td>
    <td><%= link_to 'Show', activity_photo %></td>
    <td><%= link_to 'Edit', edit_activity_photo_path(activity_photo) %></td>
    <td><%= link_to 'Destroy', activity_photo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity photo', new_activity_photo_path %>
