<div class="center">
    <%= image_tag @list.photo.cdn_url("scale_crop/800x200"), class: 'img-center img-thumbnail' %>    
</div>

<div class="section well">
    <b><%= @list.title %></b>
    <p><%= @list.lead_text %></p>
</div>

<h3><%= t '.activities_title' %></h3>

<% for activity in @list.activities %>
    <div class="row">
        <div class="col-md-4">
            <%= link_to show_activity_path(activity) do %>
                <%= image_tag activity.main_photo.file.cdn_url("scale_crop/300x200"), class: 'img-thumbnail' %>
            <% end %>
        </div>
        <div class="col-md-8">
            <b><%= link_to activity.title, show_activity_path(activity) %></b>
            <p><%= activity.lead_text %></p>
        </div>
    </div>
<% end %>