<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <div><%= @activity.title %></div>
</p>

<p>
  <b>Описание:</b>
  <div><%= @activity.lead_text %></div>
</p>

<p>
  <b>Полный текст:</b>
  <div><%= @activity.full_text %></div>
</p>

<p>
  <b>Особенности экскурсии:</b>
  <div><%= @activity.features %></div>
</p>

<p>
  <b>ID видео на вимео</b>
  <div><%= @activity.video %></div>
</p>


<%= link_to 'Редактировать экскурсию', edit_activity_path(@activity) %> |
<%= link_to 'Назад', activities_path %>
