<!DOCTYPE html>
<html>
<head>
  <title>Sputnik Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= uploadcare_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <%= link_to 'Sputnik Admin', admin_path, class: 'navbar-brand' %>
            </div>
            
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Списки экскурсий', lists_path %></li>
                    <li><%= link_to 'Экскурсии', activities_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'En', locale: 'en' %></li>
                    <li><%= link_to 'Ru', locale: 'ru' %></li>
                </ul>
            </div>
        </div>

        <%= yield %>
    </div>
</body>
</html>
